version: '2'
services:
  playground:
    image: otctf/default:latest
    container_name: playground
    command: /bin/bash
    privileged: true
    tty: true
    security_opt:
      - seccomp=unconfined  # make debug server working
    volumes:
      - ./qs:/home/qs
      - ./qemu:/home/qemu
      - ./dbgsvr-7.0:/home/dbgsvr-7.0
    ports:
      - 23946:23946   # dbg server port
    # network_mode: host   # conflict with port forward
